<!doctype html>{% load static %}{% load i18n %}
<html lang="en">
<head>
  <title>Malias - {% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% get_static_prefix %}malias/css/bootstrap-4.1.1.min.css">

  <style>
  </style>
  {% block head %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="https://framagit.org/ivoire/malias">Malias</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {% block nav-home %}{% endblock %}" href="{% url 'home' %}">{% trans "Home" %} <span class="sr-only">({% trans "current" %})</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% block nav-domains %}{% endblock %}" href="{% url 'domains.index' %}">{% trans "Domains" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% block nav-emails %}{% endblock %}" href="{% url 'emails.index' %}">{% trans "Emails" %}</a>
      </li>
    </ul>
    {% if user.is_authenticated %}
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link">{{ user.get_full_name|default:user.username }}</a>
      </li>
    </ul>
    <a class="btn btn-outline-warning" href="{% url 'accounts.logout' %}">{% trans "Log out" %}</a>
    {% else %}
    <a class="btn btn-outline-primary" href="{% url 'accounts.login' %}">{% trans "Log in" %}</a>
    {% endif %}
  </div>
</nav>

<div class="container">
{% block body %}{% endblock %}
</div>

  <script src="{% get_static_prefix %}malias/js/jquery-3.3.1.slim.min.js"></script>
  <script src="{% get_static_prefix %}malias/js/popper-1.12.3.min.js"></script>
  <script src="{% get_static_prefix %}malias/js/bootstrap-4.1.1.min.js"></script>
</body>
</html>
