{% extends 'malias/base.html' %}

{% block title %}Home{% endblock %}

{% block style %}
    .jumbotron > .btn {
      padding: 6px 12px;
    }
{% endblock %}

{% block nav-home %}active{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1>Welcome to Malias</h1>
  <p class="lead"><em>Malias</em> allows you to setup your email account as you want.</p>
</div>
{% endblock %}
