{% extends 'malias/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Domains" %} - {{ domain.fqdn }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% get_static_prefix %}malias/css/font-awesome-4.7.0.min.css">
{% endblock %}

{% block nav-domains %}active{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <h4 class="modal-header">Details</h4>
    <dl class="row">
      <dt class="col-md-3">{% trans "domain" %}</dt>
      <dd class="col-md-9">{{ domain }}</dd>
      <dt class="col-md-3">{% trans "emails" %}</dt>
      <dd class="col-md-9">{{ domain.email_set.count }}</dd>
      <dt class="col-md-3">{% trans "expiration" %}</dt>
      <dd class="col-md-9" title="{{ domain.expiration }}">{{ domain.expiration|timeuntil }}</dd>
    </dl>
  </div>
  <div class="col">
    <h4 class="modal-header">{% trans "Actions" %}</h4>
  </div>
</div>


<div class="row">
  <div class="col">
    <h4 class="modal-header">{% trans "Emails" %}</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">{% trans "email" %}</th>
          <th scope="col">{% trans "user" %}</th>
          <th scope="col">{% trans "aliases" %}</th>
          <th scope="col">{% trans "quota" %}</th>
          <th scope="col">{% trans "actions" %}</th>
        </tr>
      </thead>
      <tbody>
      {% for email in domain.email_set.all %}
        <tr>
          <td>{{ email.email }}</td>
          <td>{{ email.user.get_full_name|default:email.user }}</td>
          <td>{{ email.aliases.count }}</td>
          <td><span class="badge badge-pill badge-{% if email.usage < 50 %}info{% elif email.usage < 90 %}warning{% else %}danger{% endif %}">{{ email.used|filesizeformat }} / {{ email.quota|filesizeformat }}</span></td>
          <td>
{% if email.user == user or user.is_superuser %}
            <a href="{% url 'emails.details.import' email %}" class="badge badge-primary"><i class="fa fa-refresh" aria-hidden="true"></i></a>
            <a href="{% url 'emails.details' email %}" class="badge badge-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
{% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
