{% extends 'malias/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Domains" %}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% get_static_prefix %}malias/css/font-awesome-4.7.0.min.css">
{% endblock %}

{% block nav-domains %}active{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <h4>{% trans "List of domains" %}{% if user.is_superuser %} <a href="{% url 'domains.import' %}" class="badge badge-primary"><i class="fa fa-refresh" aria-hidden="true"></i></a>{% endif %}</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">{% trans "fqdn" %}</th>
          <th scope="col">{% trans "emails" %}</th>
          <th scope="col">{% trans "expiration" %}</th>
          <th scope="col">{% trans "actions" %}</th>
        </tr>
      </thead>
      <tbody>
      {% for domain in domains %}
        <tr>
          <td><a href="{% url 'domains.details' domain %}">{{ domain.fqdn }}</a></td>
          <td>
{% for email in domain.email_set.all %}
<a href="mailto:{{email.email }}">{{ email.username }}</a>{% if not forloop.last %},{% endif %}
{% endfor %}
          </td>
          <td title="{{ domain.expiration }}">{{ domain.expiration|timeuntil }}</td>
          <td>
            {% if user.is_superuser %}<a href="{% url 'domains.import.emails' domain %}" class="badge badge-primary"><i class="fa fa-refresh" aria-hidden="true"></i></a>{% endif %}
            <a href="{% url 'domains.details' domain %}" class="badge badge-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
