{% extends 'malias/base.html' %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block head %}
  <style>
    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
    }
    .form-signin .checkbox {
      font-weight: 400;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>
{% endblock %}

{% block body %}
    {% if form.errors %}
    <div class="alert alert-danger">
      <button class="close" data-dismiss="alert" type="button">&times;</button>
      {% for key,error in form.errors.items %}
        {{ error }}
      {% endfor %}
    </div>
    {% endif %}

  <form class="form-signin" method="POST" action="{% url 'accounts.login' %}">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">{% trans "Please log in" %}</h1>
      {{ form.username }}
      {{ form.password }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Log in" %}</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% endblock %}
