{% extends 'malias/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Emails" %} - {{ account.email }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% get_static_prefix %}malias/css/font-awesome-4.7.0.min.css">
{% endblock %}

{% block nav-emails %}active{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <h4 class="modal-header">{% trans "Details" %}</h4>
    <dl class="row">
      <dt class="col-md-3">{% trans "email" %}</dt>
      <dd class="col-md-9">{{ account.email }}</dd>
      <dt class="col-md-3">{% trans "aliases" %}</dt>
      <dd class="col-md-9">{{ account.aliases.count }}</dd>
      <dt class="col-md-3">{% trans "quota" %}</dt>
      <dd class="col-md-9"><span class="badge badge-pill badge-{% if account.usage < 50 %}info{% elif account.usage < 90 %}warning{% else %}danger{% endif %}">{{ account.used|filesizeformat }} / {{ account.quota|filesizeformat }}</span></dd>
    </dl>
  </div>
  <div class="col">
    <h4 class="modal-header">{% trans "Actions" %}</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>{% trans "Aliases" %} <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addAliasModal"><i class="fa fa-plus-circle" aria-hidden="true"></i></button></h4>
    <div class="modal fade" id="addAliasModal" tabindex="-1" role="dialog" aria-labelledby="addAliasModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% trans "Create an alias" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="POST" action="{% url 'emails.aliases.add' account.email %}">
            {% csrf_token %}
            <div class="modal-body">
              <input type="text" name="alias" placeholder="alias"></input>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
              <button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">{% trans "alias" %}</th>
          <th scope="col">{% trans "shared with" %}</th>
          <th scope="col">{% trans "actions" %}</th>
        </tr>
      </thead>
      <tbody>
      {% for alias in account.aliases.all %}
        <tr>
          <td>{{ alias.name }}</td>
          <td>
          {% if alias.emails.count != 1 %}
            <div class="badge badge-warning" title="{% for a in alias.emails.all %}{% if a != account %}{{ a.email }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}">{{ alias.emails.count|add:"-1" }}</div>
          {% endif %}
          <td>
            <a href="{% url 'emails.send' account.email alias.name %}" class="badge badge-success" title="{% trans "send a mail to this alias" %}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <a href="#delAlias{{ forloop.counter0 }}Modal" class="badge badge-danger" title="{% trans "remove this alias" %}" data-toggle="modal" data-target="#delAlias{{ forloop.counter0 }}Modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
            <div class="modal fade" id="delAlias{{ forloop.counter0 }}Modal" tabindex="-1" role="dialog" aria-labelledby="delAlias{{ forloop.counter0 }}ModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">{% blocktrans %}Remove alias <i>{{ alias.name }}</i>{% endblocktrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    <div class="modal-body">
                      <p>{% trans "The alias will be <strong>permanently</strong> removed" %}</p>
                    </div>
                    <div class="modal-footer">
                      <form method="POST" action="{% url 'emails.aliases.delete' account.email %}">
                        {% csrf_token %}
                        <input type="hidden" name="alias" value="{{ alias.name }}"></input>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                        <button type="submit" class="btn btn-danger">{% trans "Remove" %}</button>
                      </form>
                    </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
