{% extends 'malias/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Emails" %}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% get_static_prefix %}malias/css/font-awesome-4.7.0.min.css">
{% endblock %}

{% block nav-emails %}active{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <h4>{% trans "List of email accounts" %}</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">{% trans "email" %}</th>
          <th scope="col">{% trans "aliases" %}</th>
          <th scope="col">{% trans "quota" %}</th>
          <th scope="col">{% trans "actions" %}</th>
        </tr>
      </thead>
      <tbody>
      {% for account in accounts %}
        <tr>
          <th scope="row">{{ account.email }}</th>
          <td>{{ account.aliases.count }}</td>
          <td><span class="badge badge-pill badge-{% if account.usage < 50 %}info{% elif account.usage < 90 %}warning{% else %}danger{% endif %}">{{ account.used|filesizeformat }} / {{ account.quota|filesizeformat }}</span></td>
          <td>
            <a href="{% url 'emails.details.import' account %}" class="badge badge-primary"><i class="fa fa-refresh" aria-hidden="true"></i></a>
            <a href="{% url 'emails.details' account %}" class="badge badge-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
